#include "Apple.xcconfig"

//	explicit name for framework
PRODUCT_NAME = PopMondegreen_Macos

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TARGET_OSX TARGET_MACOS

INFOPLIST_FILE = $(SRCROOT)/Source_Apple/Macos_Framework_Info.plist


//	default project settings, but make consistent across framework & bundle
COMBINE_HIDPI_IMAGES = YES
DYLIB_INSTALL_NAME_BASE = @rpath
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks
DEFINES_MODULE = YES
FRAMEWORK_VERSION = A


FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/MicrosoftCognitiveServicesSpeech.SwiftPackage/MicrosoftCognitiveServicesSpeech-MacOSXCFramework-1.42.0/MicrosoftCognitiveServicesSpeech.xcframework/macos-arm64_x86_64
HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Source/
