#include "Apple.xcconfig"


GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TARGET_OSX TARGET_MACOS

INFOPLIST_FILE = $(SRCROOT)/Source_Apple/Macos_Static_Info.plist

EXECUTABLE_EXTENSION = a
EXECUTABLE_PREFIX = lib
MACH_O_TYPE = staticlib

//	signing
ENABLE_HARDENED_RUNTIME = YES

HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Source/
